@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@500&family=Asap:wght@500&family=Bitter:ital,wght@0,300;0,400;0,600;0,900;1,300&family=Josefin+Sans:ital@1&family=Lato:wght@700;900&family=Roboto:ital,wght@0,300;0,900;1,400;1,900&family=Tiro+Kannada:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@500&family=Asap:wght@500&family=Bitter:ital,wght@0,300;0,400;0,600;0,900;1,300&family=Josefin+Sans:ital@1&family=Kanit:ital,wght@1,300&family=Lato:wght@700;900&family=Montserrat:wght@500&family=Roboto:ital,wght@0,300;0,900;1,400;1,900&family=Tiro+Kannada:ital@1&display=swap');



/*Make the scrolling up smoother*/

html {
    scroll-behavior: smooth;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgba(225, 225, 225, 0)
    ;
}

/*Make the background color*/
body {
    background-color: rgb(220, 209, 209);
    padding: 0;
}

/*Style the text and the images*/
p {
    font-size: 1.25rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

img {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin: 0;
}

h2 {
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
}

h4 {
    margin-top: 0px;
}

footer {
    background-color: #020715;
}

.bottom-space {
    height: 10vh;
    background-color: #020715;
}

/*Style the poster of the second page*/
.poster {
    vertical-align: -21rem;
    border-radius: 8px;
}

/*Style the levels' images*/
.section-image {
    display: inline-block;
    width: 85%;
    height: 200px;
    background: #777;
    background-position: center center;
    background-size: cover;
    box-shadow: 0 0 6px rgba(77, 77, 77, .5);
    border-radius: 0.75em;
    margin-bottom: 2rem;
}

.img-inline {
    width: 100%;
    box-shadow: 0 0 6px rgba(77, 77, 77, .5);
}



/*Style the grid*/
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    text-align: center;

}

#row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    text-align: center;
    align-items: baseline;
}

/*Style the third page grid*/
#section2 {
    margin-top: 0;
    margin-bottom: 0;
}

/*Make and style the container and the text in it about the game*/
#container_about_our_game {
    width: 100%;
    height: auto;
    margin-top: 4rem;
    margin-bottom: 2rem;
    margin-left: 10%;
    margin-right: 10%;
    background-color: hsla(225, 9%, 27%, 0.1);
    box-shadow: 0 0.5em 2em 0 rgba(3, 3, 6, 0.5);
    backdrop-filter: blur(0.5em);
    -webkit-backdrop-filter: blur(0.5em);
    border: none;
    border-radius: 1.5em;
    align-items: baseline;
}

#text_about_our_game {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 3rem;
    color: white;
}



/*------------------------------------------------*/
/*Style the dividers*/
.section {
    height: auto;
    min-height: 90px;
    position: relative;
    width: 100%;
}

#four {
    padding-bottom: 0;
}

.featurette-divider {
    margin: 3rem 0;
}


/*-------------------------------------------*/

@media (min-width:1200px) {
    .container {
        max-width: 1200px;
    }
}

@media (min-width:990px) {
    .col-md-4 {
        max-width: 1999px;
    }
}

@media (min-width:990px) {
    .col-md-3 {
        max-width: 1999px;
    }
}


/*--------------------------------------------------------------------*/