/*Style the first page and add vidoe to the background*/
.main-homepage {
    height: calc(100% - 2em - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 10%;
    padding-right: 20%;
    padding-left: 20%;
    padding-top: 10%;
    padding-bottom: 10%;
    margin-top: 5rem; 
    background: url(../../images/videos/Soulter_Gif.gif);
    background-repeat:no-repeat;
    background-size: cover;
    object-fit: cover;

  }
  
/*Style the box with the text and the buttons*/ 
  .main-bg {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 100ms linear;

  }
  
  /*Title*/
  .homepage-h1 {
    color: white;
    margin: auto 20px;
    font-weight: 900;
    filter: brightness(100%);
  }
  
  a{
    text-decoration: none;
    color: white;
  }
  a:hover{
    text-decoration: none;
    color: white;
  }
  
  
  @media only screen and (min-width: 1245px) {
    /* Changing the main */
    .main-bg {
      height: 500px;
      width: 1100px;
    }
    #finance-btn {
      margin: 2rem;
      margin-left: 1rem;
      
    }
    #refer-btn{
      margin-left:0.5rem;
    }
  }
  @media only screen and (max-width: 1244px) {
    /* Changing the main */
    
    #finance-btn {
      margin: 2rem;
      margin-left: 1rem;
    }
    #refer-btn{
      margin-left:0.5rem;
    }
  }
  
  .hero--wrapper { 
    margin: 0 auto;
    width: 100%;
    color: white;
  }

  
/*style the text*/
  h1 {
    font-weight: 100;
    font-size: 48px;
    text-align: center;
    margin: 25px 0 0 0;
  }
  
  p {
    text-align: center;
  }
/*Style the buttons*/
  #hero--buttons {
    margin: 0px auto; 
    text-align: center;
  }
/*Style the download button*/
  #finance-btn {
    width: 250px;
    height: 50px;
    background: #333;
    border: 0;
    display: inline-block;
    margin-right: 10px;
    color: #fff;
    border-radius: 8px;
    transition: background-color 0.4s ease-in-out;
  }
  #finance-btn:hover{
    background-color: #0C1122;
  }

/*Style the explore button*/
  #refer-btn {
    width: 250px;
    height: 50px;
    background: #333;
    border: 0;
    display: inline-block;
    color: #fff;
    border-radius: 8px;
    transition: background-color 0.4s ease-in-out;
  }
  

  #refer-btn:hover{
    background-color:  #0C1122;
  }


