#github_picture{
    width: 100%;
    height: 100%;
    margin: 0;
    vertical-align:-25rem;
}
#forth_page{
    margin-left: 0;
    top: 0;
    bottom:0;

}
#github_text{
    width: 100%;
    margin-left: 5%;
    margin-top:40%;
    
}
#button_for_github{
    width: 35%;
    height: 50px;
    background-color: rgb(86, 82, 82);
    border-radius: 45px;
    text-decoration: none;
    margin-left: 3.5rem;
    color:white;
    border-color: rgba(225,225,225,0);
    transition: background-color 0.4s ease-in-out;
}
#button_for_github:hover{
    background-color: #0C1122;
}
@media (max-width: 800px ){
    #github_picture{
        width: 100%;
        height: 100%;
        margin-top:0;

    }
    #github_text{
        margin-left:0;
        width: 100%;
        height: 100%;
        margin-top: 1rem;
        
    }
    .col-md-6{
        margin-top:0;
        padding: 0;
    }
}
