/*Style teh footer*/
footer{
    position:static;
    width: 100%;
    height: 100%;
    bottom:0;
    margin:0;
    padding-bottom: 0;
    
}
/*Style text*/
#text_in_footer{
    font-size: 15pt;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    
}
/*Make the two list to be next to each other*/
#footer_list{
    list-style-type: none; 
    display: inline-block;
    
}

/*Style the text with the emails*/
.emails{
    font-size: 15pt;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color:rgb(44, 98, 143);
}

.emails:hover{
    color:rgb(98, 148, 190);
    text-decoration: none;
}


