/*Style the navbar*/
.navbar .nav-item:not(:last-child) {
    padding-right: 35px;
  }
  
  .dropdown-toggle::after {
    transition: transform 0.15s linear;
  }
  
  .show.dropdown .dropdown-toggle::after {
    transform: translateY(3px);
  }
  
  .dropdown-menu {
    margin-top: 0;
  }

/*Style the box of the navbar*/
  .navbar-light {
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 1px 1px 2px rgba(0,0,0,.25);
  }
/*Style teh text in the navbar*/
  .navbar-brand {
    text-align: center;
    font-size: 3rem;
    display: inline-flex;
    align-items: flex-end;
  }
/*Style the logo*/
  .navbar-brand img {
    margin-right: .5rem;
  }
  #game_name{
    margin:0;
    width: 200px;
  }
/*Style the buttons*/
#about_us{
    font-size: 1.5rem;
    color: black;
    transition: color 0.4s linear;
  }
#about_us:hover{
    color: rgb(100, 95, 95);
  }

#plot1{
  font-size: 1.5rem;
  color: black;
  transition: color 0.4s linear;
}
#plot1:hover{
  color: rgb(100, 95, 95);
}
  
  @media (min-width: 1060px ) {
    .navbar-expand-md > .container, .navbar-expand-md > .container-fluid, .navbar-expand-md > .container-lg, .navbar-expand-md > .container-md, .navbar-expand-md > .container-sm, .navbar-expand-md > .container-xl {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    
  }

  
  

  